* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1096%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='57.135' cx='1633.84' cy='414.23' fill='url(%23SvgjsLinearGradient1097)'%3e%3c/circle%3e%3ccircle r='105.965' cx='291.58' cy='629.46' fill='url(%23SvgjsLinearGradient1098)'%3e%3c/circle%3e%3ccircle r='92.86' cx='850.98' cy='699.14' fill='url(%23SvgjsLinearGradient1099)'%3e%3c/circle%3e%3ccircle r='60.815' cx='32.44' cy='242.63' fill='url(%23SvgjsLinearGradient1100)'%3e%3c/circle%3e%3ccircle r='79.805' cx='1905.81' cy='942.67' fill='url(%23SvgjsLinearGradient1101)'%3e%3c/circle%3e%3ccircle r='38.395' cx='766.85' cy='265.17' fill='url(%23SvgjsLinearGradient1102)'%3e%3c/circle%3e%3ccircle r='79.51' cx='829.74' cy='153.42' fill='url(%23SvgjsLinearGradient1103)'%3e%3c/circle%3e%3ccircle r='33.045' cx='1847.94' cy='718.35' fill='url(%23SvgjsLinearGradient1104)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1096'%3e%3crect width='1920' height='1080' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1519.57' y1='414.23' x2='1748.11' y2='414.23' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1097'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='79.64999999999998' y1='629.46' x2='503.51' y2='629.46' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1098'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='665.26' y1='699.14' x2='1036.7' y2='699.14' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1099'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-89.19' y1='242.63' x2='154.07' y2='242.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1100'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1746.1999999999998' y1='942.67' x2='2065.42' y2='942.67' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1101'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='690.0600000000001' y1='265.17' x2='843.6400000000001' y2='265.17' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1102'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='670.72' y1='153.42' x2='988.76' y2='153.42' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1103'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1781.8500000000001' y1='718.35' x2='1914.0300000000002' y2='718.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1104'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

#calculator {
    width: 22.5%;
    aspect-ratio: 2 / 3.5;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
                0 2px 4px rgba(0,0,0,0.05), 
                0 4px 8px rgba(0,0,0,0.05), 
                0 8px 16px rgba(0,0,0,0.05),
                0 16px 32px rgba(0,0,0,0.05), 
                0 32px 64px rgba(0,0,0,0.05);
}

#title-bar {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px 12px 0 0;
}

.title-button {
    background-color: grey;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 3px;
}

#red {
    background-color: #ed6a5e;
}

#yellow {
    background-color: #f4be4f;
}

#green {
    background-color: #62c554;
}

#display {
    height: 17.5%;
    background-color: rgba(0, 0, 0, 0.025);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upper-display, #lower-display {
    margin: 0.5rem;
}

#upper-display > p {
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

#lower-display > p {
    text-align: right;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    font-size: 3rem;
    margin: 0;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    height: calc(100% - 17.5% - 40px - 3rem - 32px); /* set height to fill remaining space, minus existing elements */
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.row > button {
    width: 17.5%;
    aspect-ratio: 1 / 1;
    font-size: 1.25rem;
    font-weight: 300;
    border: none;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0);
}

.row > button:hover {
    background-color: #f8f8f8;
} 

.operator {
    background-color: #f3f3f3 !important;
}

.operator:hover {
    background-color: #eaeaea !important;
}

#equals {
    width: calc(35% + 20px);
    aspect-ratio: 2.5 / 1;
    border-radius: 3rem;
    font-size: 2rem;
    background-color: #ffcb8a;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
                0 2px 4px rgba(0,0,0,0.04), 
                0 4px 8px rgba(0,0,0,0.04), 
                0 8px 16px rgba(0,0,0,0.04),
                0 16px 32px rgba(0,0,0,0.04), 
                0 32px 64px rgba(0,0,0,0.04);
}

#equals:hover {
    background-color: #ffc277;
}